<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="fileBinding" sendTimeout="24.00:00:00" maxReceivedMessageSize="26214400"
                    messageEncoding="Mtom" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_Chat" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8302/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_Chat" contract="ChatService.Chat"
                name="NetTcpBinding_Chat">
                <identity>
                    <userPrincipalName value="HP-EliteBook\Elman" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8301/File" binding="basicHttpBinding"
                bindingConfiguration="fileBinding" contract="ChatService.File"
                name="fileBinding" />
        </client>
    </system.serviceModel>
</configuration>