<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="sessionChecker">
          <reliableSession inactivityTimeout="00:01:00"/>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="fileBinding"
													maxReceivedMessageSize="26214400"
													messageEncoding="Mtom"
													transferMode="Streamed"
													sendTimeout="00:10:00"
													/>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBeh">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="letsTalk.ChatService" behaviorConfiguration="mexBeh">

        <endpoint address="Chat" bindingConfiguration="sessionChecker" binding="netTcpBinding" contract="letsTalk.IChatService" />

        <endpoint address="Unit" binding="netTcpBinding" contract="letsTalk.IUnitService"/>
        
        <endpoint address="File"
									binding="basicHttpBinding"
									bindingConfiguration="fileBinding"
									contract="letsTalk.IFileService"/>

        <endpoint address="Avatar"
                  binding="basicHttpBinding"
                  bindingConfiguration="fileBinding"
                  contract="letsTalk.IAvatarService"/>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8301" />
            <add baseAddress="net.tcp://localhost:8302"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>


</configuration>